<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en">
	<meta name="SpaceX" />
	<meta name="keywords" content="space,spacex,aerospace,elon musk,mars,falcon 9,falcon heavy,dragon" />
	<meta name="description" content="SpaceX designs, manufactures and launches advanced rockets and spacecraft. The company was founded in 2002 to revolutionize space technology, with the ultimate goal of enabling people to live on other planets." />
	<meta property="og:locale" content="en_US"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="SpaceX"/>
	<meta property="og:description" content="SpaceX designs, manufactures and launches advanced rockets and spacecraft."/>
	<meta property="og:site_name" content="SpaceX"/>
	<meta property="og:image" content="https://www.spacex.com/static/images/share.jpg"/>
	<meta itemprop="name" content="SpaceX" />
	<meta itemprop="image" content="https://www.spacex.com/static/images/share.jpg" />
	<meta property="og:url" content="http://www.spacex.com"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@spacex" />
	<meta name="twitter:description" content="SpaceX designs, manufactures and launches advanced rockets and spacecraft."/>
	<meta name="twitter:title" content="SpaceX"/>
	<meta name="twitter:image" content="https://www.spacex.com/static/images/share.jpg"/>
	<title>SpaceX{% if title and title != 'home' %} - {{ title | capitalize }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/assets/css/ab.css" media="screen">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=1">
	<script type="text/javascript" defer src="/assets/js/spx.js"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
